// ----------------------------------------------------------------------------------------------------
/*-- scss:defaults --*/
// Herunder angives variable
$navbar-bg: #398FCC;

// ----------------------------------------------------------------------------------------------------
/*-- scss:rules --*/
// Herunder angives CSS
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

table caption {
  caption-side: top; 
}