// ----------------------------------------------------------------------------------------------------
/*-- scss:defaults --*/
// Herunder angives variable
$font-family-sans-serif: Verdana;
$font-family-monospace: Verdana;
$font-size-root: 15px;

$grid-sidebar-width: 300px !default; // standard: 250px
$grid-body-width: 800px !default; // standard: 800px
$grid-margin-width: 300px !default; // standard: 250px
$grid-column-gutter-width: 1.5rem !default; // standard: 1.5em

$navbar-bg: #398FCC;
$link-color: #398FCC;

// ----------------------------------------------------------------------------------------------------
/*-- scss:rules --*/
// Herunder angives CSS
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}

img {
  border-radius: 4px;
}

video {
  border-radius: 4px;
}

kbd {
  display: inline-block;
}

table {
  border: 1px solid #808080;
}

table caption {
  font-weight: bold;
  caption-side: top;
}

thead th, tbody td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

thead th {
  background-color: #398FCC;
  color: #FFFFFF;
}

tfoot td {
  font-size: 80%;
  font-style: italic;
  border: hidden;
  border-top: 1px solid #808080;
}

.footnotes {
  font-style: italic;
}

.vis-kun-mobil {
  display: none;
  @media (max-width: 1000px) {
    display: inline-block;
  }
}